{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="titlemb-30">
            <h2>Update Profile</h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper mb-30">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Update-Profile
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card-style settings-card-1 mb-30">
          <div
            class="
              title
              mb-30
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <h6>Updating Profile</h6>
          
          </div>
          <div class="profile-info">
            
            
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    
                    <button 
                    class="main-btn primary-btn btn-hover w-100 text-center mt-3">
                     Update Profile
                    </button>
                    
                </form>
                
           
          
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->


{% endblock %}